# Investigate the contents of new test data database

A new test set has been made available. Investigate the contents of this test data to make sure it doesn't contain the same data as the training set. If it does, these data will need remnoving from the training set.

In [42]:
from pathlib import Path
BASE_PATH = Path.cwd().parent.parent
data_path = BASE_PATH / 'data'

import pandas as pd
import sys
sys.path.append(str(BASE_PATH))
from src import utils

In [43]:
test_csv = pd.read_csv(data_path / 'raw' / 'SingleSpecies_all.csv', low_memory=False)
test_csv.columns

Index(['organization', 'project_id', 'location', 'location_id',
       'location_buffer_m', 'longitude', 'latitude', 'equipment_make',
       'equipment_model', 'recording_id', 'recording_date_time', 'task_id',
       'aru_task_status', 'task_duration', 'task_method', 'species_code',
       'species_common_name', 'species_scientific_name', 'individual_order',
       'tag_id', 'individual_count', 'vocalization', 'detection_time',
       'tag_duration', 'rms_peak_dbfs', 'tag_is_verified', 'tag_rating',
       'observer', 'observer_id', 'species_individual_comments',
       'task_comments', 'wildtrax_url', 'recording_url', 'target'],
      dtype='object')

In [44]:
test_csv.vocalization.value_counts()

vocalization
Song         25222
Non-vocal     5326
Call           226
Name: count, dtype: int64

In [45]:
osfls = test_csv.loc[test_csv.species_code == 'OSFL']
osfls.vocalization.value_counts()

vocalization
Song    301
Call    110
Name: count, dtype: int64

In [46]:
osfl_songs = osfls.loc[osfls.vocalization == 'Song']

In [47]:
utils.keep_cols

['organization',
 'project_id',
 'location_id',
 'recording_id',
 'recording_date_time',
 'species_code',
 'species_common_name',
 'detection_time',
 'task_duration',
 'tag_duration',
 'tag_id',
 'recording_url',
 'task_method',
 'latitude',
 'longitude',
 'individual_order']

In [51]:
keep_cols = utils.keep_cols
remove_cols = ['file_type', 'project', 'clip_url', 'media_url']
for i in remove_cols:
    keep_cols.remove(i)

ValueError: list.remove(x): x not in list

In [52]:
osfls[keep_cols].head()

,organization,project_id,location_id,recording_id,recording_date_time,species_code,species_common_name,detection_time,task_duration,tag_duration,tag_id,recording_url,task_method,latitude,longitude,individual_order
9789,BU,787,98510,255472,2016-06-16 04:12:00,OSFL,Olive-sided Flycatcher,25.46,60s,1.25,2269294.0,https://wildtrax-aru.s3.us-west-2.amazonaws.co...,NaN,57.443536,-111.496876,1.0
9798,BU,787,98531,255412,2016-07-01 04:57:55,OSFL,Olive-sided Flycatcher,30.03,60s,1.04,2265662.0,https://wildtrax-aru.s3.us-west-2.amazonaws.co...,NaN,57.523776,-111.418890,1.0
9824,BU,787,98505,255913,2017-06-28 04:00:00,OSFL,Olive-sided Flycatcher,3.41,60s,1.56,2294310.0,https://wildtrax-aru.s3.us-west-2.amazonaws.co...,NaN,57.522751,-111.405270,1.0
9825,BU,787,98505,255913,2017-06-28 04:00:00,OSFL,Olive-sided Flycatcher,19.29,60s,1.40,2294316.0,https://wildtrax-aru.s3.us-west-2.amazonaws.co...,NaN,57.522751,-111.405270,1.0
9826,BU,787,98505,255913,2017-06-28 04:00:00,OSFL,Olive-sided Flycatcher,25.90,60s,1.33,2294318.0,https://wildtrax-aru.s3.us-west-2.amazonaws.co...,NaN,57.522751,-111.405270,1.0

In [53]:
osfl_ids = osfl_songs.recording_id.unique()
len(osfl_ids)

39

In [54]:
df_raw = pd.read_csv(data_path / 'raw' / 'TrainingData_BU&Public_CWS_with_rec_links.csv')
df_raw.columns

/var/folders/hy/36n7jr6x3h74ddx507dc12_00000gn/T/ipykernel_6337/773638745.py:1: DtypeWarning: Columns (7,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv(data_path / 'raw' / 'TrainingData_BU&Public_CWS_with_rec_links.csv')

Index(['organization', 'project', 'project_id', 'location', 'location_id',
       'recording_date_time', 'recording_id', 'task_method', 'task_id',
       'aru_task_status', 'species_code', 'species_common_name',
       'species_scientific_name', 'species_class', 'detection_time',
       'task_duration', 'tag_duration', 'min_tag_freq', 'max_tag_freq',
       'tag_id', 'individual_order', 'vocalization', 'abundance', 'tag_rating',
       'tag_is_verified', 'clip_channel_used', 'observer', 'observer_id',
       'verifier_id', 'left_full_freq_tag_rms_peak_dbfs',
       'left_full_freq_tag_rms_trough_dbfs', 'left_full_freq_tag_pk_count',
       'left_full_freq_tag_dc_offset', 'left_full_freq_tag_min_level',
       'left_full_freq_tag_max_level', 'left_full_freq_tag_peak_level_dbfs',
       'left_freq_filter_tag_rms_peak_dbfs',
       'left_freq_filter_tag_rms_trough_dbfs', 'left_freq_filter_tag_pk_count',
       'left_freq_filter_tag_dc_offset', 'left_freq_filter_tag_min_level',
       'left_freq_filter_tag_max_level',
       'left_freq_filter_tag_peak_level_dbfs',
       'right_full_freq_tag_rms_peak_dbfs',
       'right_full_freq_tag_rms_trough_dbfs', 'right_full_freq_tag_pk_count',
       'right_full_freq_tag_dc_offset', 'right_full_freq_tag_min_level',
       'right_full_freq_tag_max_level', 'right_full_freq_tag_peak_level_dbfs',
       'right_freq_filter_tag_rms_peak_dbfs',
       'right_freq_filter_tag_rms_trough_dbfs',
       'right_freq_filter_tag_pk_count', 'right_freq_filter_tag_dc_offset',
       'right_freq_filter_tag_min_level', 'right_freq_filter_tag_max_level',
       'right_freq_filter_tag_peak_level_dbfs', 'tagged_in_wildtrax',
       'media_url', 'spectrogram_url', 'clip_url', 'sensorId', 'tasks',
       'status', 'recording_url', 'latitude', 'longitude',
       'location_buffer_m'],
      dtype='object')

In [60]:
df_raw_ids = df_raw.recording_id.unique()

In [56]:
# find the intersection of the two sets
common_ids = set(osfl_ids).intersection(set(df_raw_ids))

In [61]:
len(common_ids), len(set(osfl_ids))

(39, 39)

In [62]:
osfls.columns

Index(['organization', 'project_id', 'location', 'location_id',
       'location_buffer_m', 'longitude', 'latitude', 'equipment_make',
       'equipment_model', 'recording_id', 'recording_date_time', 'task_id',
       'aru_task_status', 'task_duration', 'task_method', 'species_code',
       'species_common_name', 'species_scientific_name', 'individual_order',
       'tag_id', 'individual_count', 'vocalization', 'detection_time',
       'tag_duration', 'rms_peak_dbfs', 'tag_is_verified', 'tag_rating',
       'observer', 'observer_id', 'species_individual_comments',
       'task_comments', 'wildtrax_url', 'recording_url', 'target'],
      dtype='object')

# Re-group the test dataframe by recording id and aggregate the detection times

In [63]:
osfl_songs.groupby('recording_id').agg({'detection_time': lambda x: list(x), 'tag_duration': lambda x: list(x) })

,detection_time,tag_duration
recording_id,,
255412,[30.03],[1.04]
255419,"[58.31, 41.78]","[1.29, 1.14]"
255420,[17.21],[0.83]
255421,"[54.48, 40.61, 11.75, 31.54]","[1.34, 1.61, 0.98, 1.28]"
255431,"[55.16, 17.14]","[0.86, 0.78]"
255432,"[0.21, 30.76, 12.28]","[1.69, 0.95, 1.71]"
255433,"[24.33, 4.36]","[1.08, 1.5]"
255449,"[30.21, 17.39, 58.85, 6.19, 40.53]","[1.1, 1.09, 1.14, 1.46, 1.19]"
255454,"[58.58, 11.33, 18.9, 26.44, 25.25, 30.2, 34.08...","[0.91, 1.15, 1.09, 1.05, 1.09, 1.09, 1.04, 1.2..."
255456,[2.81],[0.88]
255457,"[1.0, 57.73, 44.34, 35.93, 27.14, 53.58, 49.13...","[0.81, 1.55, 1.6, 1.83, 1.7, 1.4, 1.61, 1.64, ..."
255461,[5.84],[0.95]
255465,"[47.66, 13.81, 27.09]","[1.49, 1.78, 1.6]"
255472,[25.46],[1.25]
255497,"[55.88, 19.15]","[1.4, 1.41]"
255513,"[9.16, 42.38, 1.8]","[1.24, 1.48, 1.49]"
255518,"[48.58, 38.0, 25.21, 17.09]","[1.59, 1.28, 1.29, 1.28]"
255526,[18.74],[1.58]
255539,"[55.99, 49.03, 23.83, 28.79, 36.93, 13.56, 12....","[1.2, 1.45, 1.44, 1.35, 1.51, 1.36, 0.78, 1.33]"
255544,"[59.18, 50.95, 42.64, 38.58, 35.16, 19.05, 11....","[0.8, 1.65, 1.95, 1.86, 1.61, 1.88, 1.93, 1.66..."
255580,[54.85],[0.98]
255581,"[47.59, 55.8, 2.11, 6.49, 26.04, 29.6, 39.83, ...","[1.19, 1.46, 1.38, 0.99, 1.33, 1.35, 1.28, 1.3..."
255582,"[13.5, 48.79, 54.69, 29.93, 2.55, 25.45, 9.68,...","[1.39, 1.41, 1.51, 1.35, 1.45, 1.29, 1.41, 1.4..."
255607,[33.41],[0.94]
255623,"[29.6, 24.55, 10.99, 5.66, 20.84, 40.41, 1.38,...","[1.59, 1.46, 1.66, 1.73, 1.48, 1.49, 1.49, 1.38]"
255624,"[42.54, 2.9, 6.7, 19.18, 26.1, 52.34, 56.25, 3...","[1.45, 1.35, 1.44, 1.5, 1.58, 1.18, 0.84, 1.55..."
255625,"[23.13, 7.3, 10.86, 16.95, 20.25, 29.9, 46.08,...","[1.58, 1.43, 1.54, 1.4, 1.48, 1.74, 1.49, 1.16..."
255649,"[9.59, 27.58]","[1.34, 1.19]"
255665,"[8.44, 43.71, 0.01, 49.01, 32.16]","[1.44, 1.45, 1.21, 1.46, 1.48]"
255913,"[3.41, 19.29, 25.9, 9.43, 6.5, 58.28, 12.68, 1...","[1.56, 1.4, 1.33, 1.4, 1.36, 1.16, 1.21, 1.75,..."
255938,"[45.66, 25.99, 33.95, 51.43, 3.26, 11.1]","[1.31, 1.23, 1.49, 1.45, 1.19, 1.24]"
255940,[21.79],[1.66]
255949,"[14.56, 46.06]","[1.45, 1.14]"
255967,"[12.23, 52.6, 49.34, 46.24, 36.49, 33.0, 15.49...","[1.16, 1.03, 1.45, 1.24, 1.01, 1.2, 1.08, 1.09..."
255980,"[10.8, 20.21, 44.49, 27.7, 14.54]","[1.04, 1.36, 1.55, 1.3, 1.08]"
256033,[57.04],[1.41]
256035,"[49.88, 39.44, 53.01, 34.25, 59.21, 40.19, 42....","[1.26, 0.9, 1.03, 1.11, 0.74, 1.1, 0.89, 0.96,..."
256053,"[20.5, 16.06]","[1.53, 1.33]"
256055,"[13.61, 1.29, 5.08, 17.31, 26.14, 47.6, 55.45,...","[1.71, 1.65, 1.43, 2.1, 1.54, 1.53, 1.7, 1.74,..."

Conclusion: 

The test set contains recordings from the training data, so these will need to be removed if this data is used for training - otherwise the model will be tested on examples it has already been trained on and we won't see how the model generalises to new data.

It looks as though this is a fully annotated set of recordings - but I'll need to check this.